{% load static %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 100vw; margin: 0 auto;">
    <!-- Indicadores -->
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    <!-- Imágenes del carrusel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/imagen1.png' %}" class="d-block w-100" alt="Primera imagen" aria-label="Primera imagen del carrusel">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/imagen2.png' %}" class="d-block w-100" alt="Segunda imagen" aria-label="Segunda imagen del carrusel">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/imagen3.png' %}" class="d-block w-100" alt="Tercera imagen" aria-label="Tercera imagen del carrusel">
        </div>
    </div>

    <!-- Botones de navegación -->
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>
