{% extends "store/base.html" %}
{% load custom_filters %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Pagar Pedido</h1>
    
    <!-- Productos del Pedido -->
    <h2 class="mb-3">Productos en el Pedido</h2>
    <ul class="list-group mb-4">
        {% for item in order.items.all %}
        <li class="list-group-item d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <!-- Imagen del Producto en Miniatura -->
                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-thumbnail mr-3" style="width: 50px; height: 50px; object-fit: cover;">
                <!-- Nombre del Producto -->
                <strong>{{ item.product.name }}</strong>
            </div>
            <!-- Cantidad del Producto -->
            <span class="badge badge-secondary">Cantidad: {{ item.quantity }}</span>
        </li>
        {% endfor %}
    </ul>
    <!-- Información del Pedido -->
    <div class="card mb-4">
        <div class="card-body">
            <p><strong>Pedido ID:</strong> {{ order.id }}</p>
            <p><strong>Total a Pagar:</strong> ${{ order.total|floatformat:0|add_dot_separator }}</p>
            <p><strong>Dirección de Entrega:</strong> {{ order.address }}, {{ order.comuna }}, {{ order.city }}</p>
        </div>
    </div>


    <!-- Formulario para Iniciar Webpay -->
    <div class="text-center">
        <form action="{% url 'webpay_initiate' order.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-lg">Ir a Webpay</button>
        </form>
    </div>
</div>
{% endblock %}
