{% extends "store/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Imagen del Producto -->
        <div class="col-md-6">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid img-thumbnail mb-3" style="width: 100%; height: auto;">
        </div>

        <!-- Detalles del Producto -->
        <div class="col-md-6">
            <h1 class="mb-4">{{ product.name }}</h1>
            <p class="lead">{{ product.description }}</p>
            <p><strong>Precio:</strong> ${{ product.price }}</p>
            <p><strong>Stock disponible:</strong> {{ product.stock }}</p>

            <!-- Botón para agregar al carrito -->
            <form action="{% url 'add_to_cart' product.id %}" method="post" class="mb-3">
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-lg">Agregar al Carro</button>
            </form>

            <!-- Enlace para volver a la lista de productos -->
            <a href="/" class="btn btn-secondary">Volver a la Lista de Productos</a>
        </div>
    </div>
</div>
{% endblock %}
