{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="register-container">
        <!-- Formulario de Registro -->
        <div class="register-box">
            <h1>Crear Cuenta</h1>
            <form method="post">
                {% csrf_token %}
                
                <!-- Nombre -->
                <div class="form-group">
                    <label for="id_first_name">Nombre</label>
                    {{ form.first_name }}
                </div>

                <!-- Apellido -->
                <div class="form-group">
                    <label for="id_last_name">Apellido</label>
                    {{ form.last_name }}
                </div>

                <!-- Campo RUT -->
                <div class="form-group">
                    <label for="id_rut">RUT</label>
                    {{ form.rut }}
                </div>


                <!-- Teléfono -->
                <div class="form-group">
                    <label for="id_phone">Teléfono</label>
                    {{ form.phone }}
                </div>

                <!-- Correo Electrónico -->
                <div class="form-group">
                    <label for="id_email">Correo Electrónico</label>
                    {{ form.email }}
                </div>

                <!-- Contraseña -->
                <div class="form-group">
                    <label for="id_password">Contraseña</label>
                    {{ form.password }}
                </div>

                <!-- Confirmar Contraseña -->
                <div class="form-group">
                    <label for="id_confirm_password">Confirmar Contraseña</label>
                    {{ form.confirm_password }}
                </div>

                <!-- Botón de Registro -->
                <button type="submit" class="btn">Registrarse</button>

                <!-- Términos y condiciones -->
                <p class="terms">
                    Al hacer clic en "Registrarse", aceptas nuestras <a href="#">Condiciones</a>, la <a href="#">Política de privacidad</a> y la <a href="#">Política de cookies</a>. Es posible que te enviemos notificaciones por SMS, que puedes desactivar cuando quieras.
                </p>
            </form>
        </div>

        <!-- Logo con enlace al Home -->
        <div class="logo-box">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="Logo Seifer">
            </a>
        </div>
    </div>
</body>
</html>
